body{
    height: 400vh;
}
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background:rgb(14, 14, 86) ;
}
::-webkit-scrollbar-thumb {
    background: rgb(56, 0, 176);
}